.page-header
  %h1
    = @user.name
    = link_to(image_tag('octocat.png'), "https://www.github.com/#{@user.github_uid}", target: '_blank') if @user.github_uid

.well#description
  %h4
    = @user.name
    %span.pull-right= @user.type_user
  %ul
    %li
      %strong Email:
      = @user.email
    %li
      %strong Github User ID:
      = @user.github_uid
    %li
      %strong Preferred Contact:
      = @user.preferred_contact

= render partial: 'comments/comments', locals: {commentable: @user}

= link_to 'Edit User', edit_user_path(@user), class: 'btn btn-primary'
= link_to 'Back', users_path, class: 'btn btn-primary'

.page-header
  %h1 Engagements

%p.explanation="This user is participating in the following Engagement(s) as a #{@user.type_user.try(:humanize)}"

%table.table
  %thead
    %tr
      %th App
      %th Role
      %th Started
      %th Contact
      %th Coach
      %th Team#
      %th Developers
      %th{:colspan => 3} Assets
      %th
  %tbody
    - @engagements.each_with_index do |engagement,indx|
      -role = role(@user, engagement)
      -unless role.blank?
        %tr
          %td= link_to engagement.app.name, app_path(engagement.app)
          %td= role
          %td= link_to engagement.start_date.strftime('%F'), engagement_iterations_path(engagement)
          %td= mail_to(engagement.contact.email, engagement.contact.name) if engagement.contact
          %td= [engagement.coach.try(:name),engagement.coaching_org.try(:name)].join(', ')
          %td= engagement.team_number
          %td
            %div{:class => 'members'}
              -engagement.users.each_with_index do |member, index|
                %div{:class => "member#{index}"} #{member.try(:name)}
          %td= link_to image_tag('deployment.png', size: '45x45', title: 'Deploy'), engagement.prototype_deployment_url, :target => '_blank'
          %td= link_to image_tag('video.png', title: 'Screencast'), engagement.screencast_url, :target => '_blank'
          %td= link_to image_tag('presentation.png', title: 'Presentation'), engagement.presentation_url, :target => '_blank'
          %td
            = link_to('Edit', edit_app_engagement_path(engagement.app,engagement), :class => 'btn btn-primary')
            = link_to 'Destroy', app_engagement_path(engagement.app,engagement), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
            = link_to('CSV', export_path(engagement.app,engagement), :class => 'btn btn-info')